// COLORS
$primary-color: #393e46;
$secondary-color: #000;
$tertiary-color: #222831;
$color-grey-dark: #777;
$color-text-light: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-sub-main: #e25222;
$color-sub-main-dark: #ac320a;
$color-main: #e25222;
$color-primary: #55c57a;

// DIMENSIONS
$grid-width: 114rem;
$vertical-space: 6rem;
$horizontal-space: 6rem;
